APP_PORT=5153
ASPNETCORE_ENVIRONMENT=Development

ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=database;Username=username;Password=password

App__BaseUrl=http://localhost:5153

Cloudinary__CloudName=your_cloud_name
Cloudinary__ApiKey=your_api_key
Cloudinary__ApiSecret=your_api_secret

Authentication__Google__ClientId=your_client_id
Authentication__Google__ClientSecret=your_client_secret

Authentication__GitHub__ClientId=your_client_id
Authentication__GitHub__ClientSecret=your_client_secret

EmailSender__SmtpServer=your_smtp_server
EmailSender__Port=587
EmailSender__From=your_from_email
EmailSender__Password=your_password
EmailSender__TokenLifetime=10.00:00:00
